@{
    ViewData["Title"] = "Home Page";
}

<div class="container">  
    <div class="row">  
        <div class="col-md-12">  
            
            <h4>                                                </h4> 
            <h2><strong>Welcome to the "World of Crime" </strong></h2><br /><br />  
            <br />  
            “World Of Crime” is an web app where you can found your own gang, fill it with members and create a base for your illegal organization.
            In the future there will be additional feature like ability to send your gang members on fights with members of other gangs and earn rating points to get to the top of the crime world.
            <br />  
            <h4></h4> 
            You logged in as: @User.Identity.Name  
            <h4></h4>  
            <a asp-action="login" asp-controller="account">  
                Please Sign in to unlock all features.
            </a>  
             
            <h4></h4>  
        </div>  
    </div>  
</div> 

